/* CSS vars */
:root {
    /* Colors */
    --color-btn: #FE7A22;
    --color-btn-hover: #e95a1b;
    --color-navy: #1c3e95;
    --color-white: #fff;
    --color-input-border: #979494;
    --color-text-dark: #161616;
    /* Dimensions */
    --navbar-height: 114px;
    --showcase-height: 732px;
    --showcase-banner-height: 259px;
    --form-height: 604px;
    --form-width: 489px;
    --main-section-height: 655px;
    --footer-height: 315px;
    --max-width: 1244px;
    /* Fonts */
    --font-stack-lato-light: 'lato-light', sans-serif;
    --font-stack-lato-regular: 'lato-regular', sans-serif;
    --font-stack-lato-bold: 'lato-light-bold', sans-serif;
    --font-stack-quicksand-bold: 'quicksand-bold', sans-serif;
}
/* Fonts */
@font-face {
  font-family: 'lato-light';
  src: url('../fonts/lato/Lato-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'lato-regular';
  src: url('../fonts/lato/Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'lato-bold';
  src: url('../fonts/lato/Lato-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'quicksand-bold';
  src: url('../fonts/quicksand/static/Quicksand-SemiBold.ttf') format('truetype');
}
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}
/* Heading */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-stack-quicksand-bold);
    font-size: 6.4rem;
    line-height: 6.8rem;
    color: var(--color-navy);
}
h2 {
    font-size: 5.2rem;
    line-height: 5.6rem;
}
h3 {
    font-size: 4.2rem;
    line-height: 4.4rem;
}
h4 {
    font-size: 3.4rem;
    line-height: 4.0rem;
}
h5 {
    font-size: 2.8rem;
    line-height: 3.0rem;
}
h6 {
    font-size: 2.4rem;
    line-height: 2.6rem;
}
/* Text */
.text-big {
    font-family: lato, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
    line-height: 3.2rem;
    letter-spacing: 0px;
    color: var(--color-text-dark);
}
.text-regular {
    font-family: var(--font-stack-lato-regular);
    font-size: 1.7rem;
    line-height: 2.8rem;
    letter-spacing: 0px;
    color: var(--color-text-dark);
}
.text-small {
    font-family: var(--font-stack-lato-light);
    font-size: 1.4rem;
    line-height: 2.2rem;
    letter-spacing: 0px;
    color: var(--color-text-dark);
}
p {
    font-family: var(--font-stack-lato-regular);
    font-size: 1.7rem;
    line-height: 2.8rem;
}
/* Buttons */
.btn {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    outline-offset: 0;
    text-decoration: none;
    display: block;
    width: 50%;
    margin: auto;
    background-color: var(--color-btn);
    color: var(--color-white);
    height: 4.8rem;
    padding: 1.3rem 1.4rem 1.4rem;
    margin-bottom: 0.5rem;
    font-family: var(--font-stack-quicksand-bold);
    font-size: 1.7rem;
    cursor: pointer;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 .8rem 4.8rem rgba(22, 22, 22, .08);
    transition: all .4s ease;
}
.btn:hover {
    background-color: var(--color-btn-hover);
    transition: all .4s ease;
}
/* Miscellaneous */
.container {
    max-width: var(--max-width);
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0 2.4rem;
}
.hidden {
    display: none !important;
}
.show {
    display: block !important;
}
.no-overflow {
    overflow: hidden !important;
}
.showcase .show-form-mobile {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.showcase .show-form-mobile form {
    overflow: scroll;
    text-align: center;
    border-radius: 0;
}
.showcase .show-form-mobile .btn {
    margin-bottom: 4rem;
}
.showcase .show-form-mobile form .input-wrapper.inline input:first-child,
.showcase .show-form-mobile form .input-wrapper.inline input:last-child {
    width: 100%;
    padding-right: unset;
}
.showcase .show-form-mobile form .input-wrapper.inline {
    flex-wrap: wrap;
}
.showcase .show-form-mobile form .close {
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 30px;
    height: 30px;
    font-size: 3rem;
    cursor: pointer;
}
/* Header */
header {
    background-color: var(--color-white);
    height: var(--navbar-height);
}
header .container {
    padding: 0;
}
header nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
/* Menu-logo */
nav .menu-logo-img {
    width: 242px;
    margin-bottom: 18px;
    margin-left: -4.4rem;
    cursor: pointer;
}
/* Menu */
nav .menu-header-menu-container {
    width: 100%;
}
nav .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
nav .menu-item {
    list-style: none;
    padding: 0 15px 24px;
}
nav .menu-item a {
    text-decoration: none;
    font-family: lato, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.4rem;
    text-transform: lowercase;
    line-height: 2.6rem;
    color: var(--color-navy);
}
nav .mobile-menu {
    margin: 2rem;
    display: none;
}
nav .menu-bars,
nav .menu-times {
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
nav .menu-bars > *,
nav .menu-times > * {
    font-size: 5rem;
    color: var(--color-navy);
    position: relative;
    z-index: 3;
}
nav i {
    cursor: pointer;
}
/* Home page - showcase & form */
.showcase {
    height: var(--showcase-height);
    background: url('../images/showcase.png') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.showcase-banner {
    height: var(--showcase-banner-height);
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: visible;
}
.showcase-banner > * {
    position: relative;
    z-index: 1;
}
.showcase-banner::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-navy);
    opacity: .75;
}
.showcase .section-content {
    height: 100%;
}
.showcase-banner-text {
    padding: 4.8rem 0 6.4rem;
    width: calc(var(--max-width) - 4.8rem - var(--form-width));
}
.showcase-banner-text-title {
    font-family: var(--font-stack-quicksand-bold);
    font-size: 5.2rem;
    line-height: 5.6rem;
    color: var(--color-btn);
    margin-bottom: .8rem;
}
.showcase-banner-text-subtitle {
    font-family: var(--font-stack-quicksand-bold);
    font-size: 3rem;
    line-height: 3.6rem;
    color: var(--color-white);
}
.form-toggle-btn-wrapper {
    display: none;
}
.showcase-banner-form {
    height: var(--form-height);
    width: var(--form-width);
    position: absolute;
    bottom: 5.4rem;
    right: 2.4rem;
    box-shadow: 0 .8rem 4.8rem rgba(22,22,22,.08);
}
.showcase-banner-form form {
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    border-radius: 1rem;
    padding: 4rem;
    position: relative;
}
.form-title {
    font-family: var(--font-stack-quicksand-bold);
    font-size: 2.4rem;
    line-height: 2.6rem;
    margin-bottom: 2rem;
}
.input-wrapper {
    width: 100%;
}
.input-wrapper input {
    width: 100%;
    border: 1px solid var(--color-input-border);
    padding: 1.3rem 1.6rem 1.4rem;
    height: 4.8rem;
    margin-bottom: 1.2rem;
    font-family: lato, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.7rem;
    line-height: 2.6rem;
    color: var(--color-text-dark);
}
.input-wrapper input::placeholder {
    opacity: .7;
}
.showcase-banner-form form .input-wrapper.inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.showcase-banner-form form .input-wrapper.inline input:first-child {
    width: 60%;
    padding-right: 5%;
}
.showcase-banner-form form .input-wrapper.inline input:last-child {
    width: 35%;
}
.clause-wrapper {
    margin-bottom: 1.6rem;
}
.clause-wrapper label {
    display: flex;
    align-items: flex-start;
    display: inline-block;
    margin-left: 3.1rem;
    font-family: var(--font-stack-lato-light);
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: var(--color-text-dark);
    opacity: .5;
    position: relative;
}
input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type="checkbox"] + span {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="checkbox"] + span:before {
    font-size: 3rem;
    color: var(--color-text-dark);
    content: '\292C';
    margin-left: -3.1rem;
}
input[type="checkbox"]:checked + span:before {
    content: '\2713';
}
input[type="checkbox"]:focus + span:before {
    outline: 1px dotted var(--color-input-border);
}
input[type="checkbox"]:not(:disabled) + span:hover:before {
    text-shadow: 0 1px 2px var(--color-navy);
}
/* Main page section */
.main-section {
    height: var(--main-section-height);
    background: url('../images/content.png') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-section .section-content {
     width: 810px;
     height: 100%;
     margin-right: auto;
     margin-top: 7.2rem;
}
.main-section-title {
     font-family: var(--font-stack-quicksand-bold);
     font-size: 6.3rem;
     line-height: 6.8rem;
     margin-bottom: .8rem;
}
.main-section-subtitle {
    font-family: var(--font-stack-quicksand-bold);
    font-size: 3.4rem;
    line-height: 4rem;
}
.main-section-subtitle {
    margin-top: .8rem;
}
.main-section-text-wrapper {
    margin-top: 2.4rem;
    margin-bottom: 5.2rem;
}
.main-section-text-bold {
    font-family: var(--font-stack-lato-bold);
    font-weight: bold;
    margin-bottom: .8rem;
}
.main-section-btn-wrapper .btn {
    margin: unset;
    width: 40%;
}
.close {
    display: none;
}
/* Footer */
footer {
    background-color: var(--color-navy);
    height: var(--footer-height);
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    flex-wrap: wrap;
}
.footer-content > div {
    flex-grow: 1;
    width: 50%;
    height: 100%;
}
.footer-content > div:first-child,
.footer-content > div:last-child {
    width: 25%;
}
.footer-menu-title {
    font-family: var(--font-stack-quicksand-bold);
    font-size: 2rem;
    color: var(--color-white);
    line-height: 2.6rem;
    margin-top: 6.1rem;
    margin-bottom: 1.5rem;
}
footer .menu-item {
    list-style: none;
    margin-bottom: .7rem;
}
footer .menu-item a {
    text-decoration: none;
    font-family: var(--font-stack-lato-regular);
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--color-white);
}
footer .menu-footer-primary-menu-container li:first-child a {
    color: var(--color-btn);
}
footer .menu-footer-secondary-menu-container ul {
    column-count: 2;
    column-gap: 20px;
}
.footer-menu-contact-info {
    font-family: var(--font-stack-lato-bold);
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 2.6rem;
    color: var(--color-btn);
}
/* MQs */
@media screen and (max-width: 1365.98px) {
    :root {
        --form-height: 604px;
        --form-width: 489px;
    }
    nav .menu-logo-img {
        margin-left: 1.5rem;
    }
    header nav {
        align-items: center;
    }
    nav .menu-header-menu-container {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 50vw;
        background-color: var(--color-white);
        z-index: 3;
    }
    nav .menu-header-menu-container::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50vw;
        width: 50vw;
        height: 100vh;
        background-color: rgba(22, 22, 22, .5);
        z-index: 2;
    }
    nav .menu {
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    nav .mobile-menu {
        display: flex;
    }
    .showcase-banner-text {
        width: 60%;
    }
    .showcase-banner-form {
        width: calc(40% - 2.4rem);
    }
    .input-wrapper input {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 1243.98px) {
    :root {
        --max-width: 1024px;
        --showcase-banner-height: auto;
    }
    .showcase .section-content {
        display: flex;
        align-items: center;
    }
    .showcase-banner-text {
        width: 100%;
        text-align: center;
    }
    #showcase-banner-subtitle-br {
        display: none;
    }
    .form-toggle-btn-wrapper {
        display: block;
        margin-top: 2rem;
    }
    .showcase-banner-form {
        display: none;
        width: var(--form-width);
        position: fixed;
        right: calc(50% - var(--form-width) / 2);
        
    }
    .showcase-banner-form::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(22, 22, 22, .5);
        z-index: -1;
    }
}
@media screen and (max-width: 1023.98px) {
    nav .menu-header-menu-container {
        width: 75vw;
    }
    nav .menu-header-menu-container::after {
        width: 25vw;
        left: 75vw;
    }
    .main-section {
        background: url('../images/content.png') right/cover no-repeat;
        position: relative;
    }
    .main-section::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, .8);
    }
    .main-section > * {
        position: relative;
    }
    .main-section .section-content {
        width: 100%;
        margin-right: unset;
        text-align: center;
    }
    .main-section-title {
        font-size: 5.5rem;
        line-height: 6rem;
    }
    .main-section-btn-wrapper .btn {
        margin: auto;
    }
    .footer-content > div:last-child {
        width: 100%;
        display: flex;
        height: auto;
        justify-content: center;
        align-content: center;
    }
    .contact .footer-menu-title {
        margin: 6.1rem 0;
    }
    .footer-menu-contact-info {
        margin: 6.1rem 0 6.1rem 2rem;
    }
    footer {
        height: unset;
    }
}
@media screen and (max-width: 767.98px) {
    :root {
        --showcase-height: 500px;
    }
    header {
        height: unset;
    }
    nav .menu-logo-img {
        margin-top: 1.5rem;
        width: 200px;
    }
    .showcase-banner-text-title {
        font-size: 4rem;
        line-height: 4.5rem;
    }
    .showcase-banner-text-subtitle {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .main-section {
        height: unset;
    }
    .main-section-title {
        font-size: 4.25rem;
        line-height: 4.5rem;
    }
    .main-section-subtitle {
        font-size: 3rem;
        line-height: 3.5rem;
    }
    .main-section-btn-wrapper .btn {
        margin-bottom: 7.2rem;
    }
}
@media screen and (max-width: 599.98px) {
    * {
        font-size: 9px;
    }
    nav .menu-header-menu-container {
        width: 80vw;
    }
    nav .menu-header-menu-container::after {
        width: 20vw;
        left: 80vw;
    }
    .showcase {
        height: unset;
    }
    .footer-content > div {
        width: 100%;
        text-align: center;
    }
}
@media screen and (max-width: 399.98px) {
    nav .menu-header-menu-container {
        width: 100vw;
    }
    nav .menu-header-menu-container::after {
        width: 0vw;
        left: 100vw;
    }
    .btn {
        width: 100% !important;
    }
    footer .menu-footer-secondary-menu-container ul {
        column-count: 1;
        column-gap: 0;
    }
}