/* Fonts */
@font-face {
  font-family: 'lato-light';
  src: url('../fonts/lato/Lato-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'lato-regular';
  src: url('../fonts/lato/Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'lato-bold';
  src: url('../fonts/lato/Lato-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'quicksand-bold';
  src: url('../fonts/quicksand/static/Quicksand-SemiBold.ttf') format('truetype');
}