/* Colors */
$color-btn: #FE7A22;
$color-btn-hover: #e95a1b;
$color-navy: #1c3e95;
$color-white: #fff;
$color-input-border: #979494;
$color-text-dark: #161616;
/* Dimensions */
$navbar-height: 114px;
$showcase-height: 732px;
$showcase-banner-height: 259px;
$form-height: 604px;
$form-width: 489px;
$main-section-height: 655px;
$footer-height: 315px;
$max-width: 1244px;
/* Fonts */
$font-stack-lato-light: 'lato-light', sans-serif;
$font-stack-lato-regular: 'lato-regular', sans-serif;
$font-stack-lato-bold: 'lato-light-bold', sans-serif;
$font-stack-quicksand-bold: 'quicksand-bold', sans-serif;